[user]
	name = Anurag Singh Rajawat
	email = anuragsinghrajawat22@gmail.com
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[gitreview]
	username = Anurag Singh Rajawat
[init]
	defaultBranch = main
